<div class="mat-elevation-z8">
  <form [formGroup]="profileForm" (ngSubmit)="onSave()" class="profile-form">

    <mat-card>
      <mat-card-content>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput id="id" placeholder="Enter ID" formControlName="id" [disabled]="true" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" placeholder="Enter email" formControlName="email" />
          </mat-form-field>
        </div>

        <div class="section-title">Default Human In The Loop settings</div>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Budget</mat-label>
            <input matInput type="number" id="hilBudget" placeholder="Enter HIL Budget" formControlName="hilBudget"
              min="0" step="any" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Control loop iterations</mat-label>
            <input matInput type="number" id="hilCount" placeholder="Enter HIL Count" formControlName="hilCount"
              min="0" />
          </mat-form-field>
        </div>

        <div class="section-title">LLM API Keys</div>
        <div formGroupName="llmConfig">
          <div class="form-row horizontal-group">
            <mat-form-field appearance="fill">
              <mat-label>Anthropic</mat-label>
              <input matInput id="anthropicKey" placeholder="Enter Anthropic Key" formControlName="anthropicKey" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Fireworks</mat-label>
              <input matInput id="fireworksKey" placeholder="Enter Fireworks Key" formControlName="fireworksKey" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Groq</mat-label>
              <input matInput id="groqKey" placeholder="Enter Groq Key" formControlName="groqKey" />
            </mat-form-field>
          </div>
          <div class="form-row horizontal-group">
            <mat-form-field appearance="fill">
              <mat-label>OpenAI</mat-label>
              <input matInput id="openaiKey" placeholder="Enter OpenAI Key" formControlName="openaiKey" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>TogetherAI</mat-label>
              <input matInput id="togetheraiKey" placeholder="Enter TogetherAI Key" formControlName="togetheraiKey" />
            </mat-form-field>
          </div>
        </div>

        <div formGroupName="toolConfig">

          <div formGroupName="GitLabServer">
            <div class="section-title">GitLab Configuration</div>
            <div class="form-row horizontal-group">
              <mat-form-field appearance="fill">
                <mat-label>Domain</mat-label>
                <input matInput id="gitlabHost" placeholder="Enter GitLab Domain" formControlName="host" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Token</mat-label>
                <input matInput id="gitlabToken" placeholder="Enter GitLab Token" formControlName="token" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Top Level Groups</mat-label>
                <input matInput id="gitlabTopLevelGroups" placeholder="Enter GitLab Top Level Groups"
                  formControlName="topLevelGroups" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="Jira">
            <div class="section-title">Jira Configuration</div>
            <div class="form-row horizontal-group">
              <mat-form-field appearance="fill">
                <mat-label>Base URL</mat-label>
                <input matInput id="jiraBaseUrl" placeholder="Enter Jira Base URL" formControlName="baseUrl" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" id="jiraEmail" placeholder="Enter Jira Email" formControlName="email" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Token</mat-label>
                <input matInput id="jiraToken" placeholder="Enter Jira Token" formControlName="token" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="Perplexity">
            <div class="section-title">Perplexity</div>
            <div class="form-row horizontal-group">
              <mat-form-field appearance="fill">
                <mat-label>Perplexity Key</mat-label>
                <input matInput id="perplexityKey" placeholder="Enter Perplexity Key" formControlName="key" />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="GitHub">
            <div class="section-title">GitHub Configuration</div>
            <div class="form-row horizontal-group">
              <mat-form-field appearance="fill">
                <mat-label>GitHub Token</mat-label>
                <input matInput id="githubToken" placeholder="Enter GitHub Token" formControlName="token" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
