.horizontal-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  > div {
    flex: 0 1 auto;
    margin-right: 20px;
  }
  > div:last-child {
    margin-right: 0;
  }
}

.form-row label {
  width: 30em;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 10px;
}
#enabled {
  display: none;
}

.mat-form-field {
  padding-right: 10px;
}
