<div class="flex min-w-0 flex-auto flex-col items-center sm:justify-center">
    <div
            class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow"
    >
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <!-- Logo -->
            <div class="w-12">
                <img src="images/logo/logo.png" />
            </div>

            <!-- Title -->
            <div
                    class="mt-8 text-4xl font-extrabold leading-tight tracking-tight"
            >
                Confirmation required
            </div>
            <div class="mt-4">
                A confirmation mail with instructions has been sent to your
                email address. Follow those instructions to confirm your email
                address and activate your account.
            </div>

            <!-- Form footer -->
            <div class="text-secondary mt-8 text-lg font-medium">
                <span>Return to</span>
                <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/ui/sign-in']"
                >sign in
                </a>
            </div>
        </div>
    </div>
</div>
