.idea/
.vscode/
node_modules/
frontend/node_modules/
frontend/.angular/
.husky/
dist/
docs/site/
#.env
**.idea
**.vscode
build/
temp/
.aider*
.ignore
.cache
.venv/
ai-in
ai-out
.npmrc
.nous/
src/cli/*-in
src/cli/*-out
ng-starter/
tg/
pyodide/
