.idea/
.vscode/
node_modules/
frontend/node_modules/
frontend/.angular/
.husky/
dist/
docs/site/
#.env
**.idea
**.vscode
build/
temp/
.aider*
.ignore
.cache
.venv/
.sophia/
src/cli/*-in
src/cli/*-out
tg/
pyodide/
firestore-debug.log
.npm/
.pm2/
