.idea/
.vscode/
node_modules/
frontend/node_modules/
frontend/.angular/
.husky/
dist/
#.env
**.idea
**.vscode
build/
temp/
.aider*
.ignore
.cache
.venv/
ai-in
ai-out
.npmrc
.nous/
src/test/*-in
src/test/*-out
ng-starter/
tg/
