<div
    class="bg-card flex flex-auto flex-col overflow-y-auto dark:bg-default lg:overflow-hidden"
>
    <!-- Select chat or start new -->
    <div
        class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent"
    >
        <mat-icon
            class="icon-size-24"
            [svgIcon]="'heroicons_outline:chat-bubble-oval-left-ellipsis'"
        ></mat-icon>
        <div class="text-secondary mt-4 text-2xl font-semibold tracking-tight">
            Select a conversation or start a new chat
        </div>
    </div>
</div>
