<mat-card>
  <mat-card-header>
    <mat-card-title
      >Code Review Configurations
      <button mat-icon-button color="primary" (click)="openEditPage()" aria-label="Add new configuration">
        <mat-icon>add</mat-icon>
      </button></mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="!isLoading && !errorMessage">
      <mat-list *ngIf="configs !== null && configs.length > 0">
        <mat-list-item *ngFor="let config of configs">
          <div matListItemIcon>
            <button mat-icon-button (click)="openEditPage(config.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="confirmDelete(config)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div matListItemTitle>{{ config.description }}</div>
        </mat-list-item>
      </mat-list>
      <p *ngIf="configs !== null && configs.length === 0">No code reviews configured</p>
    </ng-container>

    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </mat-card-content>
</mat-card>
