<mat-card class="p-5">
    <div *ngFor="let call of llmCalls; let i = index" class="pb-6">
        <div id="{{ call.id }}" class="pb-2">

            <span class="mb-3 pt-3 font-medium text-xl">{{ call.callStack }} {{ call.description }}</span>

            <a href="{{ llmCallUrl(call) }}" style="font-size: x-small" target="_blank">
                <mat-icon>storage</mat-icon>
            </a>
        </div>

        <div class="mb-1">
            <strong>LLM:</strong> {{ getLlmName(call.llmId) }} &nbsp;&nbsp; <strong>Request Time:</strong>
            {{ call.requestTime | date : 'medium' }}. &nbsp;&nbsp; <strong>Total Time:</strong>
            {{ ((call.totalTime ?? 0) / 1000).toFixed(1) }}s&nbsp;&nbsp; <strong>Tokens in/out:</strong>
            {{ call.inputTokens }}/{{ call.outputTokens }}&nbsp;&nbsp; <strong>Cost: </strong> ${{
                call.cost?.toFixed(4)
            }}
        </div>

        @for (message of call.messages; track message.id) {
            <mat-expansion-panel class="mb-1"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title [ngClass]="{ 'hidden-title': call.systemPromptExpanded }">
                        <span>{{ message.role | titlecase }}</span>
                        <span *ngIf="!call.systemPromptExpanded" class="expansion-preview">
                            {{ message.content | slice : 0 : 50 }} ...
                    </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="white-space: pre-wrap">{{ message.content }}</div>
            </mat-expansion-panel>
        }

        <mat-expansion-panel
                *ngIf="call.systemPrompt"
                (opened)="call.systemPromptExpanded = true"
                (closed)="call.systemPromptExpanded = false"
                class="mb-1"
        >
            <mat-expansion-panel-header>
                <mat-panel-title [ngClass]="{ 'hidden-title': call.systemPromptExpanded }">
                    <span>System Prompt:</span>
                    <span *ngIf="!call.systemPromptExpanded" class="expansion-preview">
                      {{ call.systemPrompt | slice : 0 : 50 }} ...
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="white-space: pre-wrap">{{ call.systemPrompt }}</div>
        </mat-expansion-panel>

        <mat-expansion-panel
                *ngIf="extractFunctionCallHistory(call.userPrompt)"
                (opened)="call.functionCallHistoryExpanded = true"
                (closed)="call.functionCallHistoryExpanded = false"
        >
            <mat-expansion-panel-header>
                <mat-panel-title [ngClass]="{ 'hidden-title': call.functionCallHistoryExpanded }">
                    <span>Function Call History: </span>
                    <span *ngIf="!call.functionCallHistoryExpanded" class="expansion-preview">
            {{ extractFunctionCallHistory(call.userPrompt) | slice : 0 : 150 }} ...
          </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="white-space: pre-wrap">{{ extractFunctionCallHistory(call.userPrompt) }}
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel
                *ngIf="extractMemoryContent(call.userPrompt)"
                (opened)="call.memoryContentsExpanded = true"
                (closed)="call.memoryContentsExpanded = false"
        >
            <mat-expansion-panel-header>
                <mat-panel-title [ngClass]="{ 'hidden-title': call.memoryContentsExpanded }">
                    <span>Memory Contents: </span>
                    <span *ngIf="!call.memoryContentsExpanded" class="expansion-preview">
            {{ extractMemoryContent(call.userPrompt) | slice : 0 : 150 }}
          </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="white-space: pre-wrap">{{ extractMemoryContent(call.userPrompt) }}</div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="call.userPrompt" (opened)="call.userPromptExpanded = true" (closed)="call.userPromptExpanded = false" class="mb-1">
            <mat-expansion-panel-header>
                <mat-panel-title [ngClass]="{ 'hidden-title': call.userPromptExpanded }">
                    <span>User Prompt: </span>
                    <span *ngIf="!call.userPromptExpanded" class="expansion-preview">
                        {{ removeFunctionCallHistory(removeMemoryContent(call.userPrompt)) | slice : 0 : 150 }} ...
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="white-space: pre-wrap">{{ removeFunctionCallHistory(removeMemoryContent(call.userPrompt)).trim() }}</div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="call.responseTextExpanded = true" (closed)="call.responseTextExpanded = false">
            <mat-expansion-panel-header>
                <mat-panel-title [ngClass]="{ 'hidden-title': call.responseTextExpanded }">
                    <span>Response Text: </span>
                    <span *ngIf="!call.responseTextExpanded" class="expansion-preview">
                      {{ call.responseText | slice : 0 : 150 }} ...
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="white-space: pre-wrap">{{ call.responseText }}</div>
        </mat-expansion-panel>

    </div>
    <div *ngIf="llmCalls.length === 0">
        <p style="padding-left: 10px">No LLM calls found for this agent.</p>
    </div>
</mat-card>
