<div class="flex min-w-0 flex-auto flex-col">

    <!-- Header -->
    <div class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-3">
        <div class="min-w-0 flex-1">
            <div class="text-3xl font-medium tracking-tight">{{ configId ? 'Edit' : 'Create' }} Code Review Configuration</div>
        </div>
    </div>

  <!-- Main -->
    <mat-card class="code-card mat-elevation-z8 m-5 p-5 max-w-320">
        <mat-card-content>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="flex flex-col">
          <mat-form-field [ngClass]="['fuse-mat-dense', 'w-full']">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" required>
          </mat-form-field>

          <mat-form-field [ngClass]="['fuse-mat-dense', 'w-full']">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required rows="4"></textarea>
          </mat-form-field>

          <mat-checkbox [formControlName]="'enabled'">Enabled</mat-checkbox>

          <div class="flex flex-col md:flex-row gap-4 mt-4">
            <div formGroupName="fileExtensions" class="flex-auto">
              <mat-form-field [ngClass]="['fuse-mat-dense', 'w-full']">
                  <mat-label>Included File Extensions</mat-label>
                  <mat-chip-grid #chipList required>
                    <mat-chip
                      *ngFor="let ext of editForm.get('fileExtensions.include')?.value"
                      [removable]="true"
                      (removed)="removeExtension(ext)"
                    >
                      {{ ext }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="Press enter to add..."
                      [matChipInputFor]="chipList"
                      (matChipInputTokenEnd)="addExtension($event)"
                    />
                  </mat-chip-grid>
                </mat-form-field>
            </div>

            <div formGroupName="requires" class="flex-auto">
              <mat-form-field [ngClass]="['fuse-mat-dense', 'w-full']">
                  <mat-label>Required Text In Diff</mat-label>
                  <mat-chip-grid #requiredChipList required>
                    <mat-chip
                      *ngFor="let text of editForm.get('requires.text')?.value"
                      [removable]="true"
                      (removed)="removeRequiredText(text)"
                    >
                      {{ text }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="Press enter to add..."
                      [matChipInputFor]="requiredChipList"
                      (matChipInputTokenEnd)="addRequiredText($event)"
                    />
                  </mat-chip-grid>
                </mat-form-field>
            </div>
            <div class="spacer"></div>
          </div>

          <div class="flex flex-col md:flex-row gap-4 mt-4">
            <div class="flex-auto">
              <mat-form-field [ngClass]="['fuse-mat-dense', 'w-full']">
                  <mat-label>Tags</mat-label>
                  <mat-chip-grid #tagChipList>
                    <mat-chip *ngFor="let tag of editForm.get('tags')?.value" [removable]="true" (removed)="removeTag(tag)">
                      {{ tag }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="Press enter to add..."
                      [matChipInputFor]="tagChipList"
                      (matChipInputTokenEnd)="addTag($event)"
                    />
                  </mat-chip-grid>
                </mat-form-field>
            </div>

            <div class="flex-auto">
              <mat-form-field [ngClass]="['fuse-mat-dense', 'w-full']">
                  <mat-label>Project Paths</mat-label>
                  <mat-chip-grid #projectPathChipList>
                    <mat-chip
                      *ngFor="let path of editForm.get('projectPaths')?.value"
                      [removable]="true"
                      (removed)="removeProjectPath(path)"
                    >
                      {{ path }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="Press enter to add..."
                      [matChipInputFor]="projectPathChipList"
                      (matChipInputTokenEnd)="addProjectPath($event)"
                    />
                  </mat-chip-grid>
                </mat-form-field>
              </div>

            <div class="spacer"></div>
          </div>

          <div formArrayName="examples" class="flex flex-col gap-4 mt-4">
            <div class="prose prose-sm max-w-3xl">
              <h3 class="mt-2 mb-2">
                Examples
                <button mat-icon-button color="primary" type="button" (click)="addExample()" aria-label="Add example">
                  <mat-icon class="pt-2">add</mat-icon>
                </button>
              </h3>
            </div>
            <div *ngFor="let example of examples.controls; let i = index" [formGroupName]="i" class="flex flex-col md:flex-row gap-4">
              <mat-form-field [ngClass]="['fuse-mat-dense', 'flex-auto']">
                <mat-label>Code</mat-label>
                <textarea matInput formControlName="code" required></textarea>
              </mat-form-field>
              <mat-form-field [ngClass]="['fuse-mat-dense', 'flex-auto']">
                <mat-label>Review Comment</mat-label>
                <textarea matInput formControlName="reviewComment" required></textarea>
              </mat-form-field>
              <button mat-icon-button color="warn" class="pt-6" type="button" (click)="removeExample(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

          <div class="flex justify-end mt-6">
            <button mat-button type="button" routerLink="/ui/code-reviews">Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid || isLoading">
              {{ configId ? 'Update' : 'Create' }}
            </button>
          </div>
        </form>
        </mat-card-content>
    </mat-card>
</div>
