<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <!-- Header -->
    <div class="relative flex flex-0 flex-col border-b px-6 py-3 sm:flex-row sm:items-center sm:justify-between md:px-8">
        @if (isLoading) {
            <div class="absolute inset-x-0 bottom-0">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
        }
        <!-- Title -->
        <div class="text-3xl font-medium tracking-tight">Code review configurations</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <button
                    mat-raised-button
                    color="warn"
                    (click)="deleteSelectedConfigs()"
                    [disabled]="selection.isEmpty()"
            >
                Delete
            </button>
            <button
                    style="margin-left: 2em"
                    mat-raised-button
                    color="primary"
                    (click)="openEditPage()"
                    aria-label="Add new configuration"
            >
                New Configuration
            </button>
            <button
                    style="margin-left: 2em"
                    mat-raised-button
                    color="primary"
                    (click)="refreshConfigs()"
            >
                Refresh
            </button>
        </div>
    </div>
    <table mat-table [dataSource]="configs$" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                ></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                ></mat-checkbox>
            </td>
        </ng-container>

        <!-- column matColumnDef values needs to be in the displayedColumns property on the component -->

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let config">
                <a (click)="openEditPage(config.id)">{{ config.title }}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let config" class="truncate overflow-ellipsis">
                <a (click)="openEditPage(config.id)">{{ config.description }}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef>Enabled</th>
            <td mat-cell *matCellDef="let config">
                <mat-checkbox [disabled]="true" [value]="config.enabled"></mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                (click)="selection.toggle(row)"
        ></tr>
    </table>

    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p *ngIf="!isLoading && configs$.data.length === 0">No code review configurations found.</p>

</div>

