.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  min-width: 600px;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

app-chat-controls {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 1rem 0;
}
