LOG_LEVEL=info
# Log non-json human-readable (https://github.com/pinojs/pino-pretty?tab=readme-ov-file#pino-pretty)
LOG_PRETTY=false
PORT=3000

# Human in the loop settings for the autonomous agent
HIL_BUDGET=1
HIL_COUNT=5

# OpenTelemetry tracing configuration
# Configured for Google Cloud for now
GCLOUD_PROJECT=
TRACE_AGENT_ENABLED=false
TRACE_SERVICE_NAME=nous
GCLOUD_PROJECT=
TRACE_AUTO_INSTRUMENT=false
TRACE_SAMPLE_RATE=1

ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GROQ_API_KEY=
TOGETHERAI_KEY=

VERTEX_PROJECT_ID=
VERTEX_REGION=us-central1
ANTHROPIC_VERTEX_PROJECT_ID=
CLOUD_ML_REGION=us-central1

GITLAB_TOKEN=
GITLAB_HOST=gitlab.selfhosted.com
GITLAB_GROUPS=group1,group2

GITHUB_TOKEN=

JIRA_BASE_URL=https://accountName.atlassian.net/rest/api/latest/
JIRA_EMAIL=
JIRA_API_TOKEN=

GOOGLE_CUSTOM_SEARCH_ENGINE_ID=
GOOGLE_CUSTOM_SEARCH_KEY=
SERP_API_KEY=
PERPLEXITY_API_KEY=
