LOG_LEVEL=debug
# Log non-json human-readable (https://github.com/pinojs/pino-pretty?tab=readme-ov-file#pino-pretty)
LOG_PRETTY=true
PORT=3000
DATABASE=firestore
AUTH=single_user
SINGLE_USER_EMAIL=
UI_URL=http://localhost:4200/ui/

# Set the base url of the FileSystem interface/tool. This is particularly useful when you want to use the CodeEditing agent on another local repository
# You may want to set from the shell with `export SOPHIA_FS=...`
# SOPHIA_FS=

GCLOUD_PROJECT=
GCLOUD_REGION=us-central1
# https://cloud.google.com/vertex-ai/generative-ai/docs/partner-models/use-claude#anthropic_claude_region_availability
# Currently Opus is only available in us-east5. Defaults to GCLOUD_REGION if not provided
GCLOUD_CLAUDE_REGION=us-east5
# Blank to use the (default) database
FIRESTORE_DATABASE=

# OpenTelemetry tracing configuration
TRACE_AGENT_ENABLED=false
TRACE_SERVICE_NAME=nous
TRACE_AUTO_INSTRUMENT=false
TRACE_SAMPLE_RATE=1

# Default human in the loop settings for the autonomous agent
# $USD
HIL_BUDGET=1
# Iterations of the agent control loop
HIL_COUNT=5

ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GROQ_API_KEY=
TOGETHERAI_KEY=
FIREWORKS_KEY=
DEEPSEEK_API_KEY=
CEREBRAS_API_KEY=
#OLLAMA_API_URL=http://localhost:11434

GITLAB_TOKEN=
GITLAB_HOST=www.gitlab.com # OR your self-hosted domain
GITLAB_GROUPS=   # comma seperated e.g. group1,group2

GITHUB_TOKEN=
GITHUB_ORG=
GITHUB_USER=

JIRA_BASE_URL="https://<accountName>.atlassian.net/rest/api/latest/"
JIRA_EMAIL=
JIRA_API_TOKEN=

PERPLEXITY_KEY=

GOOGLE_CUSTOM_SEARCH_ENGINE_ID=
GOOGLE_CUSTOM_SEARCH_KEY=
SERP_API_KEY=

SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
# Ensure that your bot is invited to the channel(s) you want to listen to. This is necessary for the bot to receive events from that channel.
SLACK_CHANNELS=
SLACK_APP_TOKEN=
