<div class="flex-auto pt-6 sm:px-4 sm:pb-4">
    <mat-tab-group [animationDuration]="'0'">

        <mat-tab label="Details">
            <agent-details [agentDetails]="agentDetails" (refreshRequested)="loadAgentDetails()"></agent-details>
        </mat-tab>

        <mat-tab label="Memory">
            <agent-memory [agentDetails]="agentDetails"></agent-memory>
        </mat-tab>

        <mat-tab label="Function Calls">
            <agent-function-calls [agentDetails]="agentDetails"></agent-function-calls>
        </mat-tab>

        <mat-tab label="LLM Calls">
            <agent-llm-calls [agentId]="agentId"></agent-llm-calls>
        </mat-tab>

    </mat-tab-group>
</div>
