<div
    class="bg-card flex flex-auto flex-col overflow-y-auto dark:bg-default lg:overflow-hidden"
>
    @if (chat) {
        <mat-drawer-container class="h-full flex-auto" [hasBackdrop]="false">
            <!-- Drawer -->
            <mat-drawer
                class="w-full dark:bg-gray-900 sm:w-100 lg:border-l lg:shadow-none"
                [autoFocus]="false"
                [mode]="drawerMode"
                [position]="'end'"
                [(opened)]="drawerOpened"
                #drawer
            >
                <!-- Contact info -->
                <chat-info
                    [drawer]="drawer"
                    [chat]="chat"
                ></chat-info>
            </mat-drawer>

            <!-- Drawer content -->
            <mat-drawer-content class="flex flex-col overflow-hidden">
                <!-- Header -->
                <div
                    class="flex h-18 flex-0 items-center border-b bg-gray-50 px-4 dark:bg-transparent md:px-6"
                >
                    <!-- Back button -->
                    <a
                        class="md:-ml-2 lg:hidden"
                        mat-icon-button
                        [routerLink]="['./']"
                        (click)="resetChat()"
                    >
                        <mat-icon
                            [svgIcon]="'heroicons_outline:arrow-long-left'"
                        ></mat-icon>
                    </a>

                    <button
                        class="ml-auto"
                        mat-icon-button
                        [matMenuTriggerFor]="conversationHeaderMenu"
                    >
                        <mat-icon
                            [svgIcon]="'heroicons_outline:ellipsis-vertical'"
                        ></mat-icon>
                        <mat-menu #conversationHeaderMenu>
                            <button mat-menu-item (click)="openChatInfo()">
                                <mat-icon
                                    [svgIcon]="'heroicons_outline:user-circle'"
                                ></mat-icon>
                                Chat info
                            </button>
                            <button mat-menu-item (click)="deleteChat()">
                                <mat-icon
                                    [svgIcon]="'heroicons_outline:trash'"
                                ></mat-icon>
                                Delete chat
                            </button>
                        </mat-menu>
                    </button>
                </div>

                <!-- Conversation -->
                <div class="conversation-container flex flex-col-reverse flex-grow overflow-y-auto">
                    <div
                        class="bg-card flex flex-auto shrink flex-col p-6 dark:bg-transparent"
                    >
                        @for (
                            message of chat.messages;
                            track trackByFn(i, message);
                            let i = $index;
                            let first = $first;
                            let last = $last
                        ) {
                            <!-- Start of the day
                            @if (
                                first ||
                                (chat.messages[i - 1].createdAt | date: 'd') !==
                                    (message.createdAt | date: 'd')
                            ) {
                                <div
                                    class="-mx-6 my-3 flex items-center justify-center"
                                >
                                    <div class="flex-auto border-b"></div>
                                    <div
                                        class="text-secondary mx-4 flex-0 text-sm font-medium leading-5"
                                    >
                                        {{
                                            message.createdAt | date: 'longDate'
                                        }}
                                    </div>
                                    <div class="flex-auto border-b"></div>
                                </div>
                            }
                            -->
                            <div
                                class="flex flex-col"
                                [ngClass]="{
                                    'max-width': 'fit-content',
                                    'items-end': message.isMine,
                                    'items-start': !message.isMine,
                                    'mt-0.5':
                                        i > 0 &&
                                        chat.messages[i - 1].isMine ===
                                            message.isMine,
                                    'mt-3':
                                        i > 0 &&
                                        chat.messages[i - 1].isMine !==
                                            message.isMine,
                                }"
                            >
                                <!-- Bubble -->
                                <div
                                    class="relative max-w-3/4 rounded-lg px-3 py-2"
                                    [ngClass]="{
                                        'bg-blue-500 text-blue-50':
                                            message.isMine,
                                        'bg-gray-500 text-gray-50':
                                            !message.isMine,
                                    }"
                                >
                                    <!-- Speech bubble tail -->
                                    @if (
                                        last ||
                                        chat.messages[i + 1].isMine !==
                                            message.isMine
                                    ) {
                                        <div
                                            class="absolute bottom-0 w-3"
                                            [ngClass]="{
                                                '-right-1 -mr-px mb-px text-blue-500':
                                                    message.isMine,
                                                '-left-1 -ml-px mb-px -scale-x-1 text-gray-500':
                                                    !message.isMine,
                                            }"
                                        >
                                            <ng-container
                                                *ngTemplateOutlet="
                                                    speechBubbleExtension
                                                "
                                            ></ng-container>
                                        </div>
                                    }
                                    <!-- Message -->
                                    <div
                                        class="min-w-4 leading-5"

                                    >
                                        <markdown [data]="message.value" ngPreserveWhitespaces> </markdown>
                                    </div>
                                </div>
                                <!-- Time -->
                                @if (
                                    first ||
                                    last ||
                                    chat.messages[i + 1].isMine !==
                                        message.isMine ||
                                    chat.messages[i + 1].createdAt !==
                                        message.createdAt
                                ) {
                                    <div
                                        class="text-secondary my-0.5 text-sm font-medium"
                                        [ngClass]="{
                                            'mr-3': message.isMine,
                                            'ml-3': !message.isMine,
                                        }"
                                    >
                                        {{ message.createdAt | date: 'HH:mm' }}
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>

                <!-- Message field -->
                <div class="flex items-start border-t bg-gray-50 p-4 dark:bg-transparent">
                    <!-- Left Side: Buttons and mat-select -->
                    <div class="flex flex-col items-start mr-4 -mt-2">
                        <!-- Buttons -->
                        <div class="flex items-center">
                            <button mat-icon-button>
                                <mat-icon [svgIcon]="'heroicons_outline:face-smile'"></mat-icon>
                            </button>
                            <button class="ml-0.5" mat-icon-button>
                                <mat-icon [svgIcon]="'heroicons_outline:paper-clip'"></mat-icon>
                            </button>
                        </div>
                        <!-- mat-select -->
                        <mat-form-field appearance="fill" class="w-20 mt-2" style="min-width: 200px" subscriptSizing="dynamic">
                            <mat-select placeholder="LLM" [(value)]="llmId">
                                @for (llm of $llms | async; track llm.id) {
                                    <mat-option [value]="llm.id">
                                        {{ llm.name }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- Message Input Field -->
                    <mat-form-field class="fuse-mat-dense fuse-mat-rounded fuse-mat-bold w-full" subscriptSizing="dynamic">
                        <textarea matInput cdkTextareaAutosize #messageInput rows="3"></textarea>
                    </mat-form-field>
                    <!-- Send Button -->
                    <div class="my-px ml-4 mt-2 flex h-11 items-center">
                        <button mat-icon-button (click)="sendMessage()">
                            <mat-icon [svgIcon]="sendIcon"></mat-icon>
                        </button>
                    </div>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    } @else {
        <div
            class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent"
        >
            <mat-icon
                class="icon-size-24"
                [svgIcon]="'heroicons_outline:chat-bubble-oval-left-ellipsis'"
            ></mat-icon>
            <div
                class="text-secondary mt-4 text-2xl font-semibold tracking-tight"
            >
                Start a new chat
            </div>
        </div>
    }

    <!-- Select chat or start new template -->

    <!-- Speech bubble tail SVG -->
    <!-- prettier-ignore -->
    <ng-template #speechBubbleExtension>
        <svg width="100%" height="100%" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M1.01522827,0.516204834 C-8.83532715,54.3062744 61.7609863,70.5215302 64.8009949,64.3061218 C68.8074951,54.8859711 30.1663208,52.9997559 37.5036011,0.516204834 L1.01522827,0.516204834 Z" fill="currentColor" fill-rule="nonzero"></path>
            </g>
        </svg>
    </ng-template>
</div>
