<mat-card class="p-5">
<div *ngIf="agentDetails?.memory">
  <mat-expansion-panel *ngFor="let entry of agentDetails.memory | keyvalue" 
                       (opened)="memoryExpanded[entry.key] = true" 
                       (closed)="memoryExpanded[entry.key] = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ entry.key }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="white-space: pre-wrap">{{ convertMemoryValue(entry.value) }}</div>
  </mat-expansion-panel>
</div>
</mat-card>
