<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [disableClose]="!isMobile"
      ngClass.gt-sm="has-border"
    >
      <mat-toolbar color="accent">
        <span translate>APP_NAME</span>
        <div fxFlex></div>
        <!--
        <div>
          <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <mat-list>
              <mat-list-item>
                <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
            <button mat-menu-item (click)="logout()" translate>Logout</button>
          </mat-menu>

        </div>
        <app-language-selector [icon]="true"></app-language-selector>
        -->
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/profile" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Profile</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/agents" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Agents</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/runAgent" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>New Agent</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/chat" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Chat</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/code-reviews" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Code Reviews</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/code" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>Code Repositories</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="accent" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
