<div style="display: flex; flex-direction: column">
  <mat-chip
    style="width: fit-content; align-self: center; margin: 8px"
    *ngIf="isPreviousMessageFromOtherDay()"
    color="accent"
    selected
    removable="false"
  >{{ getDateDivider(msg) }}</mat-chip
  >
  <mat-card
    style="box-shadow: none; background-color: transparent"
    [ngStyle]="{
      'align-self': msg.role !== 'user' ? 'flex-end' : 'flex-start',
      'padding-top': '16px',
      'padding-bottom': '16px'
    }"
  >
    <!-- Message Header -->
    <mat-card-header
      [ngStyle]="{
        'justify-content': 'flex-start',
        'margin-bottom': '8px',
        'flex-direction': msg.role !== 'user' ? 'row-reverse' : 'row'
      }"
    >
      <!--
      <img
        *ngIf="!(isPredecessorSameAuthor() && isTemporalClose())"
        mat-card-avatar
        [src]="msg.user.photoUrl || 'assets/account.png'"
        width="50px"
      />
      -->
      <mat-card-title
        *ngIf="!(isPredecessorSameAuthor() && isTemporalClose())"
        style="font-size: 16px; margin-bottom: 6px"
      >
        <!--
        {{ getUserName(msg.user) }}
        -->
      </mat-card-title>
    </mat-card-header>
    <mat-card-content style="display: inline-flex; flex-direction: column; width: 100%">
      <!-- Message content-->
      <mat-card
        [ngStyle]="{
          'background-color': msg.role !== 'user' ? 'lightslategrey' : '#536DFE',
          color: msg.role !== 'user' ? 'white' : 'white',
          'align-self': msg.role !== 'user' ? 'flex-end' : 'flex-start',
          'text-align': 'left',
          'border-top-right-radius': msg.role !== 'user' ? '0px' : '4px',
          'border-top-left-radius': msg.role !== 'user' ? '0px' : '4px',
          'min-width': '150px',
          'max-width': '100%',
          'margin-bottom': '8px',
          'margin-right': msg.role === 'user' ? '10em' : '0',
          'margin-left': msg.role !== 'user' ? '10em' : '0',
          padding: '16px 12px 12px 12px'
        }"
      >
        <span style="overflow-wrap: break-word">{{ msg.text }}</span>
      </mat-card>

      <button
        *ngIf="allowsReply"
        [ngStyle]="{
          'align-self': msg.role !== 'user' ? 'flex-end' : 'flex-start',
          'margin-bottom': '8px',
          'font-size': '10px',
          'line-height': '18px'
        }"
        mat-stroked-button
      >
        REPLY
      </button>

      <!-- Attached files -->
      <mat-chip-list
        [ngStyle]="{
          display: 'flex',
          'justify-content': msg.role !== 'user' ? 'flex-end' : 'flex-start'
        }"
      >
        <!--
        <mat-chip *ngFor="let attachment of msg.attachments">
          <mat-icon>insert_drive_file</mat-icon>
          {{ attachment.name }}
        </mat-chip>
        -->
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
