<div style="display: flex; flex-direction: column">
  <mat-card
    style="box-shadow: none; background-color: transparent"
    [ngStyle]="{
      'align-self': msg.role !== 'user' ? 'flex-end' : 'flex-start',
      padding: '5px'
    }"
  >
    <mat-card-content style="display: inline-flex; flex-direction: column; width: 90%; min-width: 300px">
      <!-- Message content-->
      <mat-card
        class="message-bubble"
        [ngClass]="{ 'user-message': msg.role === 'user', 'assistant-message': msg.role !== 'user' }"
        [ngStyle]="{
          'background-color': msg.role !== 'user' ? 'rgb(226, 228, 220)' : 'rgb(246, 248, 250)',
          color: 'rgb(31, 35, 40)',
          'align-self': msg.role !== 'user' ? 'flex-end' : 'flex-start',
          'text-align': 'left',
          'min-width': '150px',
          'max-width': '100%',
          width: '100%',
          'margin-bottom': '8px',
          padding: '0px 12px 0px 12px'
        }"
      >
        <span style="overflow-wrap: break-word">
          <markdown [data]="msg.text"> </markdown>
        </span>
      </mat-card>

      <button
        *ngIf="allowsReply"
        [ngStyle]="{
          'align-self': msg.role !== 'user' ? 'flex-end' : 'flex-start',
          'margin-bottom': '8px',
          'font-size': '10px',
          'line-height': '18px'
        }"
        mat-stroked-button
      >
        REPLY
      </button>

      <!-- Attached files -->
      <mat-chip-list
        [ngStyle]="{
          display: 'flex',
          'justify-content': msg.role !== 'user' ? 'flex-end' : 'flex-start'
        }"
      >
        <!--
        <mat-chip *ngFor="let attachment of msg.attachments">
          <mat-icon>insert_drive_file</mat-icon>
          {{ attachment.name }}
        </mat-chip>
        -->
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
