<mat-card [formGroup]="chatForm" style="width: 100%; min-height: 125px; margin-bottom: 8px">
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
      <mat-form-field fxFlex="calc(100%-56px-56px-16px-16px-8px-8px-120px)">
        <textarea
          matInput
          placeholder="Message"
          formControlName="message"
          (keydown.enter)="$event.preventDefault(); submit()"
        ></textarea>
      </mat-form-field>

      <mat-form-field fxFlex="120px">
        <mat-select formControlName="selectedLlm" aria-label="Select LLM">
          <mat-option *ngFor="let llm of llms" [value]="llm.id">
            {{ llm.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-fab color="primary" (click)="submit()" [disabled]="!chatForm.valid || isSending">
        <mat-icon *ngIf="!isSending">send</mat-icon>
        <mat-spinner *ngIf="isSending" diameter="24"></mat-spinner>
      </button>

      <input
        #fileInput
        style="display: none"
        id="input-file-id"
        multiple
        type="file"
        (change)="setSelectedFiles($event)"
      />

      <button mat-fab color="accent" disabled (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>

    <!-- Attachment section left as a placeholder for future implementation -->
    <ng-container *ngIf="hasAttachments()">
      <h6>Attachments:</h6>
      <mat-chip-list
        #chipList
        style="width: 100%; margin-bottom: 8px"
        fxLayout="row"
        fxLayoutGap="8px"
        fxLayoutAlign="start center"
        matTooltip="These files will be uploaded as attachments for the message above."
        matTooltipPosition="below"
      >
        <mat-chip
          *ngFor="let attachment of getAttachments(); let i = index"
          selected
          removable
          (removed)="deleteAttachment(attachment)"
          color="primary"
        >
          <mat-icon>insert_drive_file</mat-icon>
          {{ attachment.name }}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </ng-container>
  </mat-card-content>
</mat-card>
