<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <!-- Header -->
    <div class="relative flex flex-0 flex-col border-b px-6 py-3 sm:flex-row sm:items-center sm:justify-between md:px-8">
        <!-- Loader -->
        @if (isLoading) {
            <div class="absolute inset-x-0 bottom-0">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
        }
        <!-- Title -->
        <div class="text-3xl font-medium tracking-tight">Agents</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field
                    class="fuse-mat-dense fuse-mat-rounded min-w-64"
                    [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                        matInput
                        [formControl]="searchInputControl"
                        [autocomplete]="'off'"
                        [placeholder]="'Search agents'"
                />
            </mat-form-field>
            <button
                    class="ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    [routerLink]="['/ui/agents/new']"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">
            @if (agents$ | async; as agents) {

                <div class="grid">
                    <!-- Header -->
                    <div class="inventory-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-2 py-2 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-4">
                        <div class="w-10"></div>
                        <div>Name</div>
                        <div>State</div>
                        <div class="hidden lg:block">Type</div>
                        <div>User Prompt</div>
                        <div class="hidden md:block">Error/Output</div>
                        <div class="hidden lg:block">Cost</div>
                    </div>

                    @if (agents === null) {
                        <div class="inventory-grid grid items-center gap-4 border-b px-2 py-2 md:px-4">
                            <div class="col-span-full text-center">
                                Loading...
                            </div>
                        </div>
                    }
                    @else if (agents.length > 0) {
                        <!-- Rows -->
                        @for (agent of agents; track trackByFn($index, agent)) {
                            <div class="inventory-grid grid items-center gap-4 border-b px-2 hover:bg-gray-50 md:px-4">
                                <div class="w-10">
                                    <mat-checkbox
                                            (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(agent) : null"
                                            [checked]="selection.isSelected(agent)">
                                    </mat-checkbox>
                                </div>

                                <div>
                                    <a class="hover:text-primary" [routerLink]="['/ui/agents', agent.agentId]">
                                        {{ agent.name }}
                                    </a>
                                </div>

                                <div>
                                    <span [class]="getStateClass(agent.state)">{{ agent.state }}</span>
                                </div>

                                <div class="hidden lg:block">{{ agent.type }}</div>

                                <div [matTooltip]="agent.userPrompt">
                                    <a class="hover:text-primary" [routerLink]="['/ui/agents', agent.agentId]">
                                        <div class="max-h-8 truncate">{{ agent.userPrompt }}</div>
                                    </a>
                                </div>

                                <div class="hidden md:block" [matTooltip]="agent.state === 'error' ? agent.error : agent.output">
                                    <div class="max-h-8 truncate">
                                        {{ (agent.state === 'error' ? agent.error : agent.output) }}
                                    </div>
                                </div>

                                <div class="hidden lg:block">
                                    ${{ agent.cost | number: '1.2-2' }}
                                </div>
                            </div>

                            <!--
                            <mat-paginator
                                    class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
                                    [ngClass]="{ 'pointer-events-none': isLoading }"
                                    [length]="pagination.length"
                                    [pageIndex]="pagination.page"
                                    [pageSize]="pagination.size"
                                    [pageSizeOptions]="[5, 10, 25, 100]"
                                    [showFirstLastButtons]="true"
                            ></mat-paginator>
                            -->
                        }} @else {
                        <div class="border-t p-8 text-center text-3xl font-medium tracking-tight sm:p-16">
                            <div class="mb-1">There are no agents!</div>

                            <button
                                    class="ml-4"
                                    mat-flat-button
                                    [color]="'primary'"
                                    [routerLink]="['/ui/agents/new']"
                            >
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Add</span>
                            </button>

                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
