<mat-tab-group *ngIf="agentDetails" [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Details">
    <mat-icon (click)="refreshAgentDetails()">refresh</mat-icon>

    <mat-card *ngIf="agentDetails.state === 'feedback'">
      <form [formGroup]="feedbackForm" (ngSubmit)="onSubmitFeedback()">
        <mat-card-title>Feedback Requested</mat-card-title>
        <mat-card-content>
          <span class="fixed-width-field"><strong>Feedback:</strong></span>
          <mat-form-field appearance="fill" class="full-width">
            <textarea matInput class="resumeField" placeholder="Enter your feedback" formControlName="feedback"></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!feedbackForm.valid">
            Submit Feedback
          </button>
        </mat-card-actions>
      </form>
    </mat-card>

    <mat-card *ngIf="agentDetails.state === 'error'"  >
      <form [formGroup]="errorForm" (ngSubmit)="onResumeError()">
        <mat-card-title>Agent Errored</mat-card-title>
        <mat-card-content style="margin-bottom: 0; margin-top: 15px">
          <mat-expansion-panel *ngIf="agentDetails.error" style="width: 1000px; margin-bottom: 20px">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span style="margin-right: 5px"><strong>Error:</strong></span>
                <span class="expansion-preview">{{ agentDetails.error | slice : 0 : 150 }}...</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div matExpansionPanelContent style="white-space: pre;">{{ agentDetails.error }}</div>
          </mat-expansion-panel>
          <mat-form-field appearance="fill" class="full-width">
            <textarea
              matInput
              class="resumeField"
              placeholder="Provide additional instructions to resume or workaround the error."
              formControlName="errorDetails"
            ></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions style="margin-bottom: 0">
          <button mat-raised-button color="primary" type="submit" [disabled]="!errorForm.valid">Resume Agent</button>
          <button mat-raised-button color="warn" (click)="cancelAgent()">Cancel Agent</button>
        </mat-card-actions>
      </form>
    </mat-card>

    <mat-card *ngIf="agentDetails.state === 'completed' && showResumeForm">
      <form [formGroup]="resumeForm" (ngSubmit)="onResumeCompleted()">
        <mat-card-title>Resume Completed Agent</mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="fill" class="full-width">
            <textarea
              matInput
              class="resumeField"
              placeholder="Provide additional instructions or context (optional)"
              formControlName="resumeInstructions"
            ></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting">
            {{ isSubmitting ? 'Resuming...' : 'Resume' }}
          </button>
          <button mat-raised-button (click)="cancelResumeForm()" [disabled]="isSubmitting">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>

    <mat-card *ngIf="agentDetails.state === 'hil'">
      <form [formGroup]="hilForm" (ngSubmit)="onResumeHil()">
        <mat-card-title>Human In Loop check</mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="fill" class="full-width">
            <textarea
              matInput
              class="resumeField"
              placeholder="Provide additional details (optional)"
              formControlName="feedback"
            ></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Resume</button>
          <button mat-raised-button color="warn" (click)="cancelAgent()">Cancel Agent</button>
        </mat-card-actions>
      </form>
    </mat-card>

    <mat-card>
      <mat-list>
        <!--
        <mat-list-item *ngIf="agentDetails.agentId"
          ><span class="fixed-width-field"><strong>Agent ID:</strong></span> {{ agentDetails.agentId }}
        </mat-list-item>
        <mat-list-item><span
          class="fixed-width-field"><strong>Execution ID:</strong></span> {{ agentDetails.executionId }}
        </mat-list-item>-->
        <mat-list-item
          ><span class="fixed-width-field"><strong>Name:</strong></span> {{ agentDetails.name }}
        </mat-list-item>
        <mat-list-item *ngIf="agentDetails.parentAgentId"
          ><span class="fixed-width-field"><strong>Parent Agent ID:</strong></span> {{ agentDetails.parentAgentId }}
        </mat-list-item>
        <mat-list-item *ngIf="agentDetails.userId"
          ><span class="fixed-width-field"><strong>User ID:</strong></span> {{ agentDetails.userId }}
        </mat-list-item>
        <mat-list-item>
          <span class="fixed-width-field"><strong>State:</strong></span>
          {{ displayState(agentDetails.state) }}
          <a *ngIf="agentDetails.state === 'completed'" (click)="openResumeForm()" class="resume-link">Resume</a>
        </mat-list-item>

        <mat-expansion-panel (opened)="userPromptExpanded = true" (closed)="userPromptExpanded = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="fixed-width-field"><strong>User Prompt:</strong></span>
              <span class="expansion-preview" [ngClass]="{'hidden': userPromptExpanded}">{{ agentDetails.userPrompt | slice : 0 : 150 }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div matExpansionPanelContent style="white-space: pre;">{{ agentDetails.userPrompt }}</div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="agentDetails.state === 'completed'" (opened)="outputExpanded = true" (closed)="outputExpanded = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="fixed-width-field"><strong>Output:</strong></span>
              <span class="expansion-preview" [ngClass]="{'hidden': outputExpanded}">{{ output | slice : 0 : 150 }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div matExpansionPanelContent style="white-space: pre;">{{ output }}</div>
        </mat-expansion-panel>

        <!--
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="fixed-width-field"><strong>System Prompt:</strong></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div matExpansionPanelContent>
            {{ agentDetails.systemPrompt.text }}
          </div>
        </mat-expansion-panel>
        -->

        <mat-list-item *ngIf="agentDetails.planningResponse"
          ><span class="fixed-width-field"><strong>Planning Response:</strong></span>
          {{ agentDetails.planningResponse }}
        </mat-list-item>

        <mat-list-item class="function-row">
          <span class="fixed-width-field"><strong>Functions:</strong></span>
          <div class="function-column">{{ agentDetails.functions.sort().join(', ') }}</div>
        </mat-list-item>

        <mat-list-item class="llm-row">
          <span class="fixed-width-field"><strong>LLMS:</strong></span>
          <div class="llm-column"><strong>Easy:</strong> {{ getLlmName(agentDetails.llms.easy) }}</div>
          <div class="llm-column"><strong>Medium:</strong> {{ getLlmName(agentDetails.llms.medium) }}</div>
          <div class="llm-column"><strong>Hard:</strong> {{ getLlmName(agentDetails.llms.hard) }}</div>
        </mat-list-item>

        <mat-list-item
          ><span class="fixed-width-field"><strong>Cost:</strong></span> ${{ agentDetails.cost | number : '1.2-2' }}
        </mat-list-item>
        <mat-list-item
          ><span class="fixed-width-field"><strong>Budget:</strong></span> ${{ agentDetails.budget | number : '1.2-2' }}
        </mat-list-item>
        <mat-list-item
          ><span class="fixed-width-field"><strong>Budget Remaining:</strong></span> ${{
            agentDetails.budgetRemaining | number : '1.2-2'
          }}
        </mat-list-item>
        <mat-list-item
          ><span class="fixed-width-field"><strong>Working Directory:</strong></span> {{ agentDetails.fileSystem.workingDirectory }}
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-tab>

  <mat-tab label="Memory">
    <div *ngIf="agentDetails.memory">
      <mat-card *ngFor="let entry of agentDetails.memory | keyvalue">
        <mat-card-title>{{ entry.key }}</mat-card-title>
        <mat-card-content><div style="white-space: pre;">{{ entry.value }}</div></mat-card-content>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Function Calls">
    <mat-card *ngFor="let invoked of agentDetails.functionCallHistory; let i = index">
      <mat-card-title>{{ invoked.function_name }}</mat-card-title>
      <mat-card-content>
        <div *ngFor="let param of invoked.parameters | keyvalue">
          <p>
            <strong>{{ param.key }}</strong> {{ param.value }}
          </p>
        </div>
        <mat-expansion-panel *ngIf="invoked.stdout" (opened)="invoked.stdoutExpanded = true" (closed)="invoked.stdoutExpanded = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Output:</strong>
              <span class="expansion-preview" [ngClass]="{'hidden': invoked.stdoutExpanded}">{{ (invoked.stdoutSummary ?? invoked.stdout) | slice : 0 : 150 }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div matExpansionPanelContent style="white-space: pre;" [innerHTML]="convertNewlinesToHtml(invoked.stdoutSummary ?? invoked.stdout)"></div>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="invoked.stderr" (opened)="invoked.stderrExpanded = true" (closed)="invoked.stderrExpanded = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Errors:</strong>
              <span class="expansion-preview" [ngClass]="{'hidden': invoked.stderrExpanded}">{{ (invoked.stderrSummary ?? invoked.stderr) | slice : 0 : 150 }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div matExpansionPanelContent style="white-space: pre;" [innerHTML]="convertNewlinesToHtml(invoked.stderrSummary ?? invoked.stderr)"></div>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
    <div *ngIf="agentDetails.functionCallHistory.length === 0">
      <p>No function calls found for this agent.</p>
    </div>
  </mat-tab>

  <mat-tab label="LLM Calls">
    <mat-card *ngFor="let call of llmCalls; let i = index">
      <mat-card-title id="{{ call.response.id }}">Call: {{ call.response.callStack }} {{call.response.description}} <a href="{{ llmCallUrl(call.response) }}" style="font-size: x-small;">GCP</a></mat-card-title>
      <mat-card-content>
        <p><strong>LLM:</strong> {{ call.response.llmId }} &nbsp;&nbsp; <strong>Request Time:</strong> {{ call.response.requestTime | date : 'medium' }}. &nbsp;&nbsp; <strong>Total Time:</strong> {{ (call.response.totalTime / 1000).toFixed(1) }}s</p>

        <mat-expansion-panel *ngIf="call.request.systemPromptId" (opened)="systemPromptExpanded = true" (closed)="systemPromptExpanded = false">
          <mat-expansion-panel-header>
            <mat-panel-title [ngClass]="{'hidden-title': systemPromptExpanded}">
              <strong>System Prompt:
                <span *ngIf="!systemPromptExpanded" class="expansion-preview">{{ call.request.systemPrompt?.text | slice : 0 : 50 }} ...</span>
              </strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div matExpansionPanelContent style="white-space: pre;">{{ call.request.systemPrompt?.text }}</div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="extractFunctionCallHistory(call.request.userPromptText)" (opened)="functionCallHistoryExpanded = true" (closed)="functionCallHistoryExpanded = false">
          <mat-expansion-panel-header>
            <mat-panel-title [ngClass]="{'hidden-title': functionCallHistoryExpanded}">
              <strong>Function Call History: </strong>
              <span *ngIf="!functionCallHistoryExpanded" class="expansion-preview">
                {{ extractFunctionCallHistory(call.request.userPromptText) | slice : 0 : 150 }} ...
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div matExpansionPanelContent style="white-space: pre;">{{ extractFunctionCallHistory(call.request.userPromptText) }}</div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="extractMemoryContent(call.request.userPromptText)" (opened)="memoryContentsExpanded = true" (closed)="memoryContentsExpanded = false">
          <mat-expansion-panel-header>
            <mat-panel-title [ngClass]="{'hidden-title': memoryContentsExpanded}">
              <strong>Memory Contents: </strong>
              <span *ngIf="!memoryContentsExpanded" class="expansion-preview">
                {{ extractMemoryContent(call.request.userPromptText) | slice : 0 : 150 }}
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div matExpansionPanelContent style="white-space: pre;">{{ extractMemoryContent(call.request.userPromptText) }}</div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="call.userPromptExpanded = true" (closed)="call.userPromptExpanded = false">
          <mat-expansion-panel-header>
            <mat-panel-title [ngClass]="{'hidden-title': call.userPromptExpanded}">
              <strong>User Prompt: </strong>
              <span *ngIf="!call.userPromptExpanded" class="expansion-preview">
                {{ removeFunctionCallHistory(removeMemoryContent(call.request.userPromptText)) | slice : 0 : 150 }} ...
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div matExpansionPanelContent style="white-space: pre;">{{removeFunctionCallHistory(removeMemoryContent(call.request.userPromptText))}}</div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="call.responseTextExpanded = true" (closed)="call.responseTextExpanded = false">
          <mat-expansion-panel-header>
            <mat-panel-title [ngClass]="{'hidden-title': call.responseTextExpanded}">
              <strong>Response Text: </strong>
              <span *ngIf="!call.responseTextExpanded" class="expansion-preview">
                {{ call.response.responseText | slice : 0 : 150 }} ...
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div matExpansionPanelContent style="white-space: pre;">{{ call.response.responseText }}</div>
        </mat-expansion-panel>

        <!--
        <p><strong>LLM Response ID:</strong> {{ call.response.id }}</p>
        <p><strong>LLM Request ID:</strong> {{ call.response.llmRequestId }}</p>
        -->
      </mat-card-content>
    </mat-card>
    <div *ngIf="llmCalls.length === 0">
      <p>No LLM calls found for this agent.</p>
    </div>
  </mat-tab>
</mat-tab-group>
