.fixed-width-field {
  display: inline-block;
  width: 150px; /* Adjust the width as needed */
  min-width: 150px;
  margin-right: 10px;
}

.full-width,
.resumeField {
  width: 500px;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.expansion-preview {
  font-weight: normal;
  font-size: smaller;
}
.llm-row {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}

.llm-column {
  flex: 1;
  text-align: left;
  padding-right: 8px;
}
.hidden {
  display: none;
}
.resume-link {
  margin-left: 10px;
  color: #1976d2;
  cursor: pointer;
  text-decoration: underline;
}

.agent-feedback-message {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;

  strong {
    display: block;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
  }
}
